[defaults]
inventory = inventory/test/hosts.yml
roles_path = roles:.cache/kubespray/roles
library = .cache/kubespray/library
collections_paths = .ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
stdout_callback = default
forks = 20
timeout = 30
deprecation_warnings = False
inventory_ignore_extensions = ~, .orig, .bak, .retry

[inventory]
enable_plugins = yaml, ini, auto

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=10
