@import "@lmthing/css/theme.css";

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-display);
    font-weight: 600;
  }
  code,
  pre,
  kbd {
    font-family: var(--font-mono);
  }
  a {
    color: inherit;
  }
}
